<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-primary" (click)="addToList(title)">
            ADD
          </button>
        </span>
        <input
          type="text"
          ngModel
          name="title"
          #title="ngModel"
          class="form-control"
          (keyup.enter)="addToList(title)"
        />
      </div>
    </div>

    <div class="col-lg-6">
      <div *ngIf="todos.length > 0">
        <ul class="list-group">
          <li
            *ngFor="let todo of todos"
            class="list-group-item"
            (click)="removeTodo(todo)"
          >
            {{ todo.value }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
