.list-body {
  width: 80%;
  margin: 10px auto;
}

.list-ul {
  list-style: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.list-ul li {
  width: 400px;
  height: 30px;
  line-height: 1.7em;
  background-color: rgba(187, 98, 98, 0.363);
  color: white;
  margin: 1px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.btnDel {
  background-color: rgb(219, 191, 66);
  border: none;
  width: 70px;
  height: 25px;
  border: 1px solid rgba(247, 182, 63, 0.541);
  color: white;
}

.btnDel:hover {
  background-color: rgb(153, 131, 31);
}

.updateBtn {
  margin-right: 5px;
  background-color: rgb(47, 133, 54);
  border: none;
  width: 70px;
  height: 25px;
  border: 1px solid rgba(120, 211, 128, 0.541);
  color: white;
}

.updateBtn:hover {
  background-color: rgb(74, 175, 64);
}
