.form-container {
  width: 70%;
  margin: 10px auto;
}

.form-inner-container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.add-item {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  font-weight: 700;
}

.addBtn {
  width: 100px;
  height: 23px;
  border: 2px solid rgba(187, 98, 98, 0.363);
  background-color: rgba(211, 89, 89, 0.534);
  color: white;
  margin: 5px;
  padding-top: 1px;
}

.add-item {
  width: 300px;
  border: 2px solid rgba(211, 89, 89, 0.534);
  font-family: "Courier New", Courier, monospace;
  color: orangered;
}
