body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.6;
}

.modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color:rgba(0,0,0,0.2);
    display: block;
}

.modal-content{
    background-color: #fff;
    margin:10% auto;
    padding: 20px;
    height: 50%;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}
.modal-header{
    margin:0;
    font-family: 'Righteous', cursive;
    font-size: 1.5em;
    /* text-align: center; */
    /* line-height: 1.6; */
    color:rgba(53,119,224,0.5);
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}

.form-container{
    width: 70%;
    margin:10% auto;
}

.input-name{
    width: 50%;
    display: block;
    margin:0 auto;
}
.label-name {
    font-family: 'Righteous', cursive;
    font-size: 1em;
    text-align: center;
    color:rgba(53,119,224,0.5);
    
}

.user-name{
    width: 100%;
    border:1px solid rgba(53,119,224,0.5);
    border-radius:5px;
}

.user-name:focus{
    border:2px solid rgba(53,119,224,0.6);
    border-radius:5px;
}

.enter-button{
    width: 100%;
    margin: 10% auto;
}