<div class="container">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="oldpassword">Old Password:</label>
      <input
        type="text"
        id="oldpassword"
        formControlName="oldpassword"
        class="form-control"
      />
    </div>
    <div *ngIf="oldpassword.pending">
      Checking if is a valid password
    </div>
    <div
      class="alert alert-danger"
      *ngIf="oldpassword.touched && oldpassword.invalid"
    >
      <div *ngIf="oldpassword.errors.required">Old Password required!</div>
      <div *ngIf="oldpassword.errors.minlength">
        Password must have at least 3 characters
      </div>
      <div *ngIf="oldpassword.errors.uniquePassword">Password not found!</div>
    </div>
    <div class="form-group">
      <label for="newpassword">New Password:</label>
      <input
        type="text"
        id="newpassword"
        formControlName="newpassword"
        class="form-control"
      />
    </div>
    <div
      class="alert alert-danger"
      *ngIf="newpassword.touched && newpassword.invalid"
    >
      <div *ngIf="newpassword.errors.required">Please type a new password!</div>
      <div *ngIf="newpassword.errors.minlength">
        Please enter a new password with 3 minumum characters
      </div>
    </div>
    <div class="form-group">
      <label for="confirmpassword">Confirm Password:</label>
      <input
        type="text"
        id="confirmpassword"
        formControlName="confirmpassword"
        class="form-control"
      />
    </div>

    <div
      class="alert alert-danger"
      *ngIf="confirmpassword.touched && confirmpassword.invalid"
    >
      <div *ngIf="confirmpassword.errors.required">
        Please re-type the password!
      </div>
      <div *ngIf="newpassword.value !== confirmpassword.value">
        Password don't match!
      </div>
    </div>
    <button class="btn btn-primary">Change Password</button>
  </form>
</div>
