.header {
  color: rgba(0, 0, 0, 0.493);
  font-weight: 300;
}

.component {
  margin-top: 2em;
}

input:focus {
  border: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1);
}

input.blur {
  filter: blur(12px);
  color: rgba(0, 0, 0, 0.1);
}

.input-border {
  border-radius: 0;
  border: 2px solid orangered;
  font-size: 1.125rem;
  margin-top: 2rem;
}

input.ng-invalid.ng-touched {
  border: 2px solid rgba(255, 68, 0, 0.315);
}

.error-text {
  font-size: 12px;
  color: rgba(255, 68, 0, 0.315);
}
