.buttons {
  box-sizing: border-box;
  margin: 0.5px;
  padding: 0;
  width: 100px;
  height: 70px;
  background-color: rgba(230, 227, 227, 0.466);
  color: #122566;
  border: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  font-weight: 800;
}
.orange-buttons {
  background-color: rgba(255, 166, 0, 0.733);
}

.buttons:hover {
  background-color: rgba(230, 227, 227, 0.74);
}
.orange-buttons:hover {
  background-color: rgba(255, 166, 0, 0.938);
}
