.clear-button {
  margin: 0.5px;
  border: none;
  height: 70px;
  width: 403px;
  background-color: rgba(206, 50, 50, 0.767);
  color: #091331;
  border: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  font-weight: 800;
}

.clear-button:hover {
  background-color: rgba(199, 15, 15, 0.712);
  color: #e7e7e7;
}
