.display {
  height: 70px;
  width: 403px;
  border: none;
  margin: 0.5px;
  line-height: 2em;
  font-size: 3em;
  font-family: "Courier New", Courier, monospace;
  background-color: #1226669c;
  color: white;
  font-weight: 800;
  text-align: right;
}
