.CheckoutSummary {
  /* display: flex; */
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .CheckoutSummary {
    width: 500px;
  }
}

/* .Checkout-btn {
  width: 80%;
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  justify-content: center;
} */
