.slider {
  position: relative;
  height: 80vh;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.slide h1 {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}
.slide.active {
  opacity: 1;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
