.container {
  margin: 0;
  padding: 0;
}
.wrapHeader {
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
}
.head-photo {
  margin-left: 5%;
  width: 30%;
  height: auto;
}
.headLogo {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
.headLogo h3 {
  display: block;
  margin: 0;
  width: 100%;
  font-family: "Great Vibes", cursive;
  font-size: 5em;
  text-align: center;
  vertical-align: middle;
  align-self: center;
}
.list {
  width: 80%;
  list-style: none;
  box-shadow: 0px 5px 7px 0 rgba(0, 0, 0, 0.1),
    0px 15px 20px 0 rgba(0, 0, 0, 0.17);
  margin: 0 auto;
}
.list-element {
  width: 80%;
  display: flex;
  box-shadow: 0px 5px 7px 0 rgba(0, 0, 0, 0.1),
    0px 15px 20px 0 rgba(0, 0, 0, 0.17);
  margin: 10px auto;
}

.imgWrapper {
  margin: 5%;
}
.imgWrapper > img {
  height: auto;
  width: 100px;
  align-self: center;
}

.descriptions {
  margin: 0;
  padding: 0;
  width: 100%;
}

.descriptions h3 {
  width: 70%;
  margin: 2em auto;
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 2em;
}
