.container {
  width: 100%;
  height: auto;
}

.board {
  width: 70%;
  margin: 10% auto;
  height: auto;
  display: flex;
}
.grid-container {
  margin: 0 auto;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #efd68f;
  border-radius: 10px;
  border: 1px solid brown;
}

.cell {
  width: 100px;
  height: 100px;
  padding: 3px;
  background-color: #bca565;
  margin: 2px;
  border-radius: 10px;
}

.cell:hover {
  background-color: rgba(193, 101, 40, 0.5);
}

.gameTitle {
  width: 50%;
  margin: 20px auto;
}

.gameTitle h3 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
  color: rgba(193, 101, 40, 0.5);
}

.xClass {
  content: "x";
  font-family: "Courier New", Courier, monospace;
  font-size: 5.5em;
  text-align: center;
  color: red;
}

.oClass {
  font-family: "Courier New", Courier, monospace;
  font-size: 5.7em;
  text-align: center;
}
