.container {
  width: 100%;
  height: auto;
}

.board {
  width: 70%;
  margin: 10% auto;
  height: auto;
  display: flex;
}
.grid-container {
  margin: 0 auto;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #efd68f;
  border-radius: 10px;
  border: 1px solid brown;
}

.cell {
  width: 100px;
  height: 100px;
  padding: 3px;
  background-color: #bca565;
  margin: 2px;
  border-radius: 10px;
}

.cell:hover {
  background-color: rgba(193, 101, 40, 0.5);
}

.gameTitle {
  width: 50%;
  margin: 20px auto;
}

.gameTitle h3 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
  color: rgba(193, 101, 40, 0.5);
}

.xClass {
  content: "x";
  font-family: "Courier New", Courier, monospace;
  font-size: 5.5em;
  text-align: center;
  color: red;
}

.oClass {
  font-family: "Courier New", Courier, monospace;
  font-size: 5.7em;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 1;
  overflow: auto;
}

.container-modal {
  width: 40%;
  height: 40%;
  margin: 15% auto;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 7px 10px 15px 0 rgba(0, 0, 0, 0.5),
    0 10px 15px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.container-modal p {
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  color: #6d6d13;
  font-weight: 700;
  text-align: center;
}

.container-modal p span {
  font-size: 20px;
}

.container-modal button {
  width: 25%;
  height: 10%;
  border: none;
  background-image: linear-gradient(to top left, #ff0066 0%, #ff5050 59%);
  color: #fff;
  border: 1px solid red;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  font-weight: 600;
  margin: 10% auto;
}
