.folder-list {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  color: #001f3f;
  width: 100%;
  text-align: left;
}

.folder-list ul {
  list-style-type: none;
  padding-left: 13px;
}

.folder-list ul li {
  margin-bottom: 3px;
}

.folder-list ul li:hover {
  background-color: #aeb8c2;
  padding: 0;
}
