.note {
  width: 60%;
  text-align: center;
}

textarea {
  width: 90%;
  height: 500px;
}

.add-note {
  width: 91%;
  height: 40px;
  color: white;
  border: 3px solid #001f3f;
  background-color: #001f3f;
  transition: ease-in-out 0.5s;
}

.add-note:disabled {
  background-color: grey;
  color: whitesmoke;
  border: 3px solid grey;
}

.add-note:hover {
  background-color: #04396e;
  border: 2px solid #04396e;
}

.add-title {
  width: 90%;
  margin: 10px auto;
  margin-top: 0;
}

.error-message {
  margin-left: 3em;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
  color: brown;
}
