.activeItem {
  color: royalblue;
}
.folder-list-items:hover {
  display: block;
  width: 250px;
  /* height: 30px; */
  background-color: rgba(115, 138, 83, 0.479);
  padding: 0;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}
.folder-list-items {
  width: 200px;
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  font-style: italic;
  border-bottom: 1px solid rgba(146, 146, 146, 0.479);
  transition: ease-in-out 0.5s;
}

.list-item-date {
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 8px;
  color: #7c7c7cc0;
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.btn-del {
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
  line-height: 16px;
  display: none;
  transform-origin: 50% 50%;
  transform: rotate(1260deg);
}

.del {
  border: none;
  border-radius: 50%;
  margin: 5px 5px;
  transition: ease-in-out 4s;
}

.list-item:hover .btn-del {
  display: block;
  transition: ease-in-out 5s;
}

.btn-del:hover {
  transform: rotate(-1260deg);
}
