<div class="row">
  <div class="col-lg-12">
    <div class="form-group">
      <div class="form-inline formControl">
        <div class="col-lg-4">
          <label for="select-type">Select type:</label>
          <select
            id="select-type"
            class="form-control col-lg-4"
            [(ngModel)]="selectType"
          >
            <option *ngFor="let type of types" [value]="type">{{
              type
            }}</option>
          </select>
        </div>

        <div class="col-lg-4">
          <label for="framework-value">Select Framework:</label>
          <input
            type="text"
            class="form-control col-lg-2"
            [(ngModel)]="frameworkName"
            id="framework-value"
          />
        </div>

        <button class="btn btn-primary col-lg-4" (click)="addItem()">
          ADD
        </button>
      </div>
    </div>
  </div>
</div>
